<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Soundcloud_Playlist_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Soundcloud_Playlist_Downloader.Properties.Settings>
            <setting name="PlaylistUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="playlistUrlChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProfileUrlChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConcurrentDownloads" serializeAs="String">
                <value>3</value>
            </setting>
        </Soundcloud_Playlist_Downloader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.28.9" newVersion="3.1.28.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>